@model IEnumerable<BLL.App.DTO.NutrientInFoodItem>

@{
    ViewData["Title"] = @Resources.Views.Shared._Layout.Index;
}

<h1>@Resources.Views.Shared._Layout.Index</h1>

<p>
    <a asp-action="Create">@Resources.Views.Shared._Layout.Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nutrient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nutrient!.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodItem!.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Resources.Views.Shared._Layout.Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Resources.Views.Shared._Layout.Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Resources.Views.Shared._Layout.Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
